body, html {
  height: 100%;
}

h1 {
  font-family: Optima;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.5rem;
}

h2 {
  font-family: Optima;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.5rem;
}

h3 {
  font-family: Optima;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.5rem;
}

label {
  font-size: x-large;
  font-family: Optima;
  color: rgba(255, 255, 255, 0.9);
}

input[type=text] {
  border-radius:10px;
}

input[type=button] {
  padding:10px;
  border:none;
  background-color:#ebecf0;
  color:black;
  font-family: Optima;
  border-radius:10px;
}

.masthead {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 35rem;
    padding: 15rem 0;
    background: url("img/pexels-pixabay-268533.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  